body {
  font-family: sans-serif;
}

ul {
  padding: 0;
}

li {
  margin-block: 1rem;
}

.home-li {
  display: flex;
  width: 90vw;

  &.bold {
    font-weight: bold;
  }

  & > span {
    text-align: center;
    flex: 1;
  }
}

a.with-client-component {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.secret-key-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  padding: 1.5rem 0.5rem;
}

.update-secret-key-value-btns {
  margin-block-start: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;

  & button {
    font-size: 1rem;
  }
}